<template>
  <div>
    <div v-if="paidFor">
      <h1>{{ $t("PayPal.paypal-thank-you") }}</h1>
    </div>
    <v-progress-linear
        v-if="!loaded"
        indeterminate
        color="yellow"
      ></v-progress-linear>
    <v-progress-linear
      v-if="GET_PAYPAL_FETCH_OPERATIONS.subscriptionPlanSingle != 'error'"
      indeterminate
      :color="
        GET_PAYPAL_FETCH_OPERATIONS.subscriptionPlanSingle == 'fetching'
          ? 'green'
          : 'yellow' + 'darken-2'
      "
    ></v-progress-linear>
    <div id="paypal-button-container" v-show="showPaypalButton"></div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "PayPalCheckout",
  data() {
    return {
      loaded: false,
      paidFor: false,
    };
  },
  computed: {
    ...mapGetters("PaypalStore", [
      "GET_PAYPAL_SUBSCRIPTION_PLAN",
      "GET_PAYPAL_FETCH_OPERATIONS",
    ]),
    ...mapGetters("UserContributionsStore", [
      "GET_CURRENCY",
      "GET_MAKE_A_PAYMENT_VALUES",
      "GET_ANON_CUSTOMER",
      "GET_WHALE_LEVEL",
    ]),
    ...mapGetters("UserStore", ["userProfile"]),
    showPaypalButton() {
      if (this.GET_MAKE_A_PAYMENT_VALUES.term != "once") {
        return this.GET_PAYPAL_FETCH_OPERATIONS.subscriptionPlanSingle ==
          "success" && this.GET_PAYPAL_SUBSCRIPTION_PLAN.id
          ? true
          : false;
      } else {
        return this.GET_MAKE_A_PAYMENT_VALUES.finalAmount ? true : false;
      }
    },
  },
  mounted: async function () {
    const script = document.createElement("script");
    let src = `https://www.paypal.com/sdk/js?client-id=${process.env.VUE_APP_PAYPAL_CLIENT_ID}&currency=${this.GET_CURRENCY.code}&`;
    if (this.GET_MAKE_A_PAYMENT_VALUES.term != "once") {
      src += "vault=true&intent=subscription";
    } else {
      src += "components=buttons";
    }
     console.log(src);
    script.src = src;
    // data-sdk-integration-source = "button-factory";
    script.addEventListener("load", this.renderButton);
    document.body.appendChild(script);
    // this.FETCH_PAYPAL_SUBSRIPTION_PLAN();
    if (this.GET_MAKE_A_PAYMENT_VALUES.term != "once") {
      await this.FETCH_OR_CREATE_PAYPAL_SUBSRIPTION_PLAN({
        term: this.GET_MAKE_A_PAYMENT_VALUES.term,
        currency: this.GET_CURRENCY.code,
      });
    }
  },
  methods: {
    ...mapActions("PaypalStore", [
      "FETCH_OR_CREATE_PAYPAL_SUBSRIPTION_PLAN",
      "FETCH_PAYPAL_SUBSRIPTION_PLAN",
    ]),
    ...mapActions("UserContributionsStore", [
      "CREATE_NEW_PAYMENT",
      "CREATE_NEW_SCHEDULE",
      "FETCH_USER_PAYMENTS",
      "CHANGE_PROCESS_STAGE",
    ]),

    renderButton: function () {
      this.loaded = true;
      var self = this;
      if (this.GET_MAKE_A_PAYMENT_VALUES.term != "once") {
        window.paypal
          .Buttons({
            createSubscription: (data, actions) => {
              return actions.subscription.create({
                plan_id: this.GET_PAYPAL_SUBSCRIPTION_PLAN.id,
                plan_overridden: true,
                plan: {
                  product_id: this.GET_PAYPAL_SUBSCRIPTION_PLAN.product_id,
                  billing_cycles: [
                    {
                      sequence: 1,
                      total_cycles: 0,
                      pricing_scheme: {
                        fixed_price: {
                          value: self.GET_MAKE_A_PAYMENT_VALUES.finalAmount,
                          currency_code: self.GET_CURRENCY.code,
                        },
                      },
                    },
                  ],
                },
              });
            },
            onApprove: async (data, actions) => {
              console.log({
                data,
                actions,
              });
              self.CREATE_NEW_SCHEDULE({
                provider: "paypal",
                extRef: data.subscriptionID,
                customer: self.GET_ANON_CUSTOMER,
                whaleLevel: self.GET_WHALE_LEVEL
              });
              self.CHANGE_PROCESS_STAGE("paid");
            },
            onError: (err) => {
              console.log(err);
            },
          })
          .render("#paypal-button-container");

      } else {
        console.log(self.GET_MAKE_A_PAYMENT_VALUES.finalAmount);
        window.paypal
          .Buttons({
            createOrder: function (data, actions) {
              // Set up the transaction
              return actions.order.create({
                purchase_units: [
                  {
                    amount: {
                      value: self.GET_MAKE_A_PAYMENT_VALUES.finalAmount,
                    },
                  },
                ],
              });
            },
            onApprove: function (data, actions) {
              // This function captures the funds from the transaction.
              return actions.order.capture().then(function (details) {
                // This function shows a transaction success message to your buyer.
                console.log(
                  "Transaction completed by " + details.payer.name.given_name
                );
                console.log(details);

                self.CREATE_NEW_PAYMENT({
                  provider: "paypal",
                  customer: self.GET_ANON_CUSTOMER,
                  orderRef: details["id"],
                });
                self.CHANGE_PROCESS_STAGE("paid");
              });
            },
          })
          .render("#paypal-button-container");
      }
    },
  },
};
</script>
