<template>
  <v-app :background-color="[$vuetify.theme.dark ? 'wtsblack' : 'white']">
    <AppBar />
    <v-alert v-if="!userIsOnline" type="error">
      <p>{{ $t("General.you-have-been-disconnected") }}</p>
    </v-alert>
    <v-alert v-else-if="showBackOnline" type="success">
      <p>{{ $t("General.your-conection-has-been-restored") }}</p>
    </v-alert>
    <UserPresence v-if="isLoggedIn && userIsOnline" />
    <Guest v-else/>
    <BlockUser />
    <UnblockUser/>
    <Edit />
    <CannotBlockAdmins />
    <v-navigation-drawer
      app
      fixed
      :color="$vuetify.theme.dark ? 'wtsblack' : 'grey lighten-5'"
      v-model="MENU_DRAWER_OPEN"
      :class="'leftcol'"
      side
      temporary
    >
      <template v-slot:prepend>
        <div class="pa-2" align="right">
          <HomeBtn class="mt-1" />
        </div>
      </template>
      <NavigationList />
    </v-navigation-drawer>
    <div id="app-content" v-if="readyToShow">
      <div class="hidden-md-and-up mb-12"></div>
      <v-container v-if="(isLoggedIn && initalTokenValidation) || $route.meta.guestsidebar">
  
        <v-row>
          <v-col
            :class="'hidden-sm-and-down leftcol '"
            cols="2"
            md="3"
            lg="3"
            xl="3"
          >
            <SideMenu class="sticky-top" />
          </v-col>
          <v-col id="MainColumn" cols="12" md="6" lg="6" xl="6">
            <router-view id="router-view" />
          </v-col>

          <v-col class="hidden-sm-and-down" cols="2" md="3" lg="3" xl="3">
            <div class="sticky-top">
              <template
                v-if="
                  showSidebar('revisions') &&
                  typeof $route.params.readSlug != 'undefined' &&
                  GET_POST_READING &&
                  GET_POST_READING.slug &&
                  GET_POST_READING.slug.length > 0 &&
                  !GET_POST_READING.blocked
                "
              >
                <RevisionList
                  :revisionsFor="'post/' + $route.params.readSlug"
                />
                <v-spacer class="my-4" />
              </template>
              <Recommended />
              <template v-if="isLoggedIn">
                <v-spacer class="my-4" />
                <WhoITrustLink />
                <v-spacer class="my-4" />
                <!-- <WhoIFollowLink />
                <v-spacer class="my-4" /> -->
              </template>
            </div>
          </v-col>
        </v-row>
      </v-container>

      <v-container
        id="token-refreshing"
        v-else-if="isLoggedIn && !initalTokenValidation"
      >
        <v-row>
          <v-col align="center">
            <Logo />
            <p>
              <v-progress-circular
                indeterminate
                color="blue darken-2"
              ></v-progress-circular>
            </p>
            <p v-if="tokenRefreshState == 'success'">Almost there</p>
            <p v-else-if="tokenRefreshState == 'refreshing'">
              One moment please
            </p>
            <p v-else-if="tokenRefreshState == 'error'">
              Ooos - looks like there was a problem
            </p>
            <p v-else-if="tokenRefreshState == 'idle'">
              About to check your login
            </p>
            <p v-else>{{ tokenRefreshState }}</p>
          </v-col>
        </v-row>
      </v-container>
      <v-container v-else>
        <router-view />
      </v-container>
    </div>
  </v-app>
</template>
<script>
import AppBar from "./views/components/AppBar.vue";
import BlockUser from "./views/components/BlockUser.vue";
import Edit from "./views/components/Edit.vue";
import HomeBtn from "./views/components/partials/HomeBtn.vue";
import NavigationList from "./views/components/NavigationList.vue";
import Recommended from "./views/components/Recommended.vue";
import RevisionList from "./views/components/RevisionList.vue";
import SideMenu from "./views/components/SideMenu";
import UnblockUser from "./views/components/UnblockUser";
import UserPresence from "./views/components/auth/UserPresence.vue";
import Guest from "./views/components/auth/Guest.vue";
// import WhoIFollowLink from "./views/components/WhoIFollowLink";
import WhoITrustLink from "./views/components/WhoITrustLink";
import { mapGetters, mapActions } from "vuex";
import Logo from "@shared/components/partials/Logo";
import CannotBlockAdmins from "./views/components/CannotBlockAdmins.vue";

export default {
  metaInfo: {
    title: 'Trust Cafe',
    titleTemplate: '%s | Trust Cafe'
  },
  components: {
    AppBar,
    BlockUser,
    Edit,
    HomeBtn,
    Logo,
    NavigationList,
    Recommended,
    RevisionList,
    SideMenu,
    UnblockUser,
    UserPresence,
    // WhoIFollowLink,
    WhoITrustLink,
    CannotBlockAdmins,
    Guest
},
  data: () => ({
    drawer: false,
    showBackOnline: false,
    readyToShow: false,
    channel: new BroadcastChannel("oauth"),
  }),
  watch: {
    userIsOnline(v) {
      console.log("Online state changed: " + v);
      if (v) {
        this.showBackOnline = true;
        console.log(this.showBackOnline);
        setTimeout(() => {
          this.showBackOnline = false;
          console.log(this.showBackOnline);
        }, 3000);
      }
    },

    userToken() {
      // This is to make sure that either they are guest or logged in and if guest that they have a token
      this.readyToShow = true;
    },
  },
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "userIsOnline",
      "userToken",
      "tokenRefreshState",
      "refreshTokenTimeout",
      "initalTokenValidation",
    ]),
    ...mapGetters("InterfaceStore", ["GET_MENU_DRAWER_OPEN"]),
    ...mapGetters("PostStore", ["GET_POST_READING"]),

    MENU_DRAWER_OPEN: {
      get() {
        return this.GET_MENU_DRAWER_OPEN;
      },
      set(value) {
        this.SET_MENU_DRAWER_OPEN(value);
      },
    },
  },
  methods: {
    ...mapActions("UserStore", [
      "UPDATE_USER_ONLINE_STATUS",
      "setAuthFromChannel",
      "logout",
    ]),
    ...mapActions("InterfaceStore", ["SET_MENU_DRAWER_OPEN"]),
    ...mapActions("PreferenceStore", ["LOAD_PREFERENCES_CACHE"]),
    showSidebar(what) {
      let s = this.$route?.meta?.sidebar ? this.$route?.meta?.sidebar : [];
      return s.includes(what);
    },
    updateOnlineStatus(e) {
      const { type } = e;
      this.UPDATE_USER_ONLINE_STATUS(type === "online");
    },
  },
  async mounted() {
    if (this.isLoggedIn || this.userToken) {
      // This is to make sure that either they are guest or logged in and if guest that they have a token
      this.readyToShow = true;
    }
    console.log("Initially " + (this.userIsOnline ? "on" : "off") + "line");
    this.channel.onmessage = async (e) => {
      // console.log("New channel message:");
    console.log({
      a: e.data?.tokenData?.accessToken,
      b:  this.userToken
    })
      if (
        e.data?.tokenData?.accessToken &&
        e.data?.tokenData?.accessToken != this.userToken
      ) {
        console.log("Channel has new token data");
        await this.setAuthFromChannel(e.data);
      } else if (e.data?.logout && e.data.logout === true) {
        console.log("Channel says to logout");
        this.logout(false);
      }
      // if (e.data.newAccessToken && e.data.newAccessToken != this.userToken) {
      //   this.restartInterval();
      // }
    };
    window.addEventListener("online", this.updateOnlineStatus);
    window.addEventListener("offline", this.updateOnlineStatus);

    this.LOAD_PREFERENCES_CACHE()
  },
  beforeDestroy() {
    window.removeEventListener("online", this.updateOnlineStatus);
    window.removeEventListener("offline", this.updateOnlineStatus);
  },
};
</script>
