<template>
    <v-card>
      <v-card-title>{{$t('General.password-recovery')}}</v-card-title>
      <v-card-text>
        <PasswordResetForm />
      </v-card-text>
    </v-card>
</template>
<script>
import PasswordResetForm from "../components/auth/PasswordReset.vue";

export default {
  data: function () {
    return {};
  },
  components: {
    PasswordResetForm,
  },



};
</script>
<style scoped></style>
