<template>
  <div>
   
    <v-row
      align="center"
      justify="center"
      :class="isLoggedIn ? 'loggedinpad' : 'loggedoutpad'"
    >
      <v-col
        ><h1>{{ $t("General.about-header") }}</h1></v-col
      >
    </v-row>
    <v-row
      align="center"
      justify="center"
      :class="isLoggedIn ? 'loggedinpad' : 'loggedoutpad'"
    >
      <v-col>{{ $t("About.about-paragraph") }}</v-col>
    </v-row>
    <!-- <div v-if = "!this.edit" class="about" id="about">
      <v-row align="right">
    <v-btn @click="editthepage">Edit</v-btn></v-row>
    </div> -->
    <v-row>
      <!-- <div v-for="(people, index) in staffAbout" v-bind:key="index"> -->
      <v-col
        v-for="(people, index) in staffAbout"
        v-bind:key="index"
        cols="12"
        lg="6"
        md="6"
      >
        <v-card class="biopad mt-auto flex-grow-1 m-top" justify="top">
          <v-card-title>{{ people.name }}</v-card-title>
          <v-card-subtitle>{{ $t(people.title) }}</v-card-subtitle>
          <v-card-text>
            <img
              class="hidden-sm-and-down"
              :src="people.img"
              height="80"
              justify="center"
            /><br /><br />
            {{ $t(people.about) }}
          </v-card-text>
        </v-card>
      </v-col>
      <!-- </div> -->
    </v-row>

    <!-- 
  JUST MAKING A DIVIDER HERE FOR ME TO READ

-->

    <div>
      <div v-if="this.edit" id="aboutform">
        <form>
          {{ $t("Admin.edit-about-page") }}
          <v-textarea v-model="aboutUsCurrentValue"></v-textarea>
        </form>
        <v-btn
          @click="
            COMMIT_ABOUT_US_EDIT({
              text: aboutusvalue,
              language: currentLanguage,
            })
          "
          >Commit Text</v-btn
        ><br />
        <v-btn @click="editthepage">Cancel</v-btn>
        <!-- These are just here so you can see it update in real time -->
        <!-- {{aboutusvalue}} -->
        <!-- <br>{{aboutUsCurrentValue}} -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "About",
  components: {
  },
  data() {
    return {
      edit: false,
      change: "",
      staffAbout: [
        {
          name: "Jimmy Wales",
          title: "About.jimmy-title",
          img: require("@/assets/JimmyWalesContribute.jpg"),
          about: "About.about-jimmy",
        },

        {
          name: "Simon Little",
          title: "About.simon-title",
          img: require("@/assets/Simon.jpg"),
          about: "About.about-simon",
        },
        {
          name: "Fin Apps",
          title: "About.fin-title",
          img: require("@/assets/Fin.jpg"),
          about: "About.about-fin",
        },
        {
          name: "Jezza Hehn",
          title: "About.jezza-title",
          img: require("@/assets/Cupcake.jpg"),
          about: "About.about-jezza",
        },
        {
          name: "Orit Kopel",
          title: "About.orit-title",
          img: require("@/assets/Orit.jpg"),
          about: "About.about-orit",
        }
      ],
    };
  },
  computed: {
    ...mapGetters("EditCopy", ["GET_ABOUT_US"]),
    ...mapGetters("Languages", ["GET_CURRENT_LANGUAGE"]),
    ...mapGetters("UserStore", ["isLoggedIn"]),
    aboutUsCurrentValue: {
      get() {
        return this.$t("General.about-paragraph");
      },
      set(newValue) {
        this.UPDATE_TEXT(newValue);
      },
    },
    aboutusvalue: {
      get() {
        return this.GET_ABOUT_US;
      },
    },
    currentLanguage: {
      get() {
        return this.GET_CURRENT_LANGUAGE;
      },
    },
  },
  methods: {
    ...mapActions("EditCopy", ["UPDATE_TEXT", "COMMIT_ABOUT_US_EDIT"]),
    assetsPath: function (file) {
      return "@/assets/" + file + ".jpg";
    },
    editthepage() {
      this.edit = !this.edit;
      console.log(this.edit);
    },
    showAboutUs() {
      console.log(this.aboutusvalue);
    },
  },
};
</script>

<style scoped>


.loggedinpad {
  margin-top: 50px;
}

.loggedoutpad {
  margin-top: 20px;
}

.biopad {
  margin-top: 50px;
  /* display: flex; */
  /* flex-flow: column; */
  /* height: 100%; */
  /* flex: 1 1 auto; */
}

.abouttext {
  font-size: 15px;
}

.testing {
  border: 5px;
  border-style: solid;
}
</style>
