<!-- 
  
  We fetch all the branches and load a follow button for each which loads the follow state.

-->
<template>
  <div>
    <div class="browsesubwikitop">
      <h1>{{ $t("General.all-branches") }}</h1>
      <RadioTabs :tablist="tabList" tabbaseroute="Branches - Radio Selected" :radioselected="radioSelected"/>
      <v-text-field outlined label="Search" v-model="searchFilter"/>
    </div>

    <div v-if="this.GET_SUBWIKI_LIST.length > 0">
      <v-row>
        <template   v-for="(item, index) in reOrderedList">
        <v-col  :key="index"
          v-if="index >= currentIndices[0] && index <= (currentIndices[1] - 1)"
          xs="12"
          sm="6"
          md="6"
          lg="6"
          align="center"
          justify="center"
        >
          <BranchCard :item="item" />
        </v-col>
      </template>
      </v-row>
    </div>
    <div v-if="this.reOrderedList.length > 0">
        <v-row>
          <v-col class="d-flex justify-center">
            <v-item-group>
              <v-item v-for="(item, index) in totalNumberOfPages" :key="index">
                <v-chip
                  :color="(item-1) == currentBranchPage ? ($vuetify.theme.dark ? 'primary' : 'primary') : ($vuetify.theme.dark ? 'wtsblack' : 'wtsgrey1')"
                  @click="goToPage(item)"
                  >{{ item }}</v-chip
                >
              </v-item>
            </v-item-group>
          </v-col>
        </v-row>
      </div>

    <div v-else>
      <v-progress-linear
        indeterminate
        color="green darken-2"
      ></v-progress-linear>
    </div>
    <div>
      <v-row>
        <v-col>
          <v-btn
            v-if="this.pageWeAreOn > 1"
            elevation="0"
            class="my-2 ml-2"
            :color="$vuetify.theme.dark ? '#88b811' : 'primary'"
            @click="newPage(-1)"
            >{{ $t("General.back") }}</v-btn
          >
        </v-col>
        <v-col align="right">
          <v-btn
            v-if="pageWeAreOn < this.totalNumberOfBranches"
            elevation="0"
            class="my-2 mr-2"
            :color="$vuetify.theme.dark ? '#88b811' : 'primary'"
            @click="newPage(1)"
            >{{ $t("General.next") }}</v-btn
          >
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import BranchCard from "./components/partials/SubwikiCard.vue";
import RadioTabs from "./components/partials/RadioTabs.vue";
import Vue from "vue";

export default {
  name: "BrowsingBranches",
  components: {
    RadioTabs,
    BranchCard,
  },
  data: function () {
    return {
      reOrderedList: [],
      searchFilter: '',
      currentBranchPage: 0,
      currentIndices: [0, 10],
      isLoading: false,
      radioSelected: this.$route.params.radioSelected
        ? this.$route.params.radioSelected
        : "alphabetical",
      tabList: [
        {
          label: 'Alphabetically',
          route: 'alphabetical'
        },
        {
          label: 'Popularity',
          route: 'popularity'
        },
      ]
    };
  },
  watch: {
    searchFilter() {
      this.currentBranchPage = 0;
      this.calculateIndices();
      this.reOrderTheList();
    },
    "$route.params.radioSelected": {
      handler: function (newRadioSelected) {
        if (newRadioSelected && newRadioSelected != this.radioSelected) {
          Vue.nextTick(() => {
            this.radioSelected = newRadioSelected;
            this.reOrderTheList();

            // this.init();

          });
        } 
      },
      deep: true,
      immediate: true,
    },
  
  },
  computed: {
    ...mapGetters("SubWikiStore", [
      "GET_SUBWIKI_LIST",
      "GET_BROWSING_SUBWIKIS",
      "PAGINATE_CURRENT_BROWSE_SUBWIKI_NAMES",
    ]),
    ...mapGetters("UserStore", ["userLanguage"]),
    totalNumberOfBranches() {
      if (this.reOrderedList.length <= 10) {
        return 0;
      } else {
        if (this.reOrderedList.length % 10 > 0) {
          return Math.floor(this.reOrderedList.length / 10 + 1);
        } else {
          return Math.floor(this.reOrderedList.length / 10 - 1);
        }
      }
    },
    totalNumberOfPages() {
      let pageNumbers = Array.from(
        { length: this.totalNumberOfBranches },
        (x, i) => i + 1
      );
      return pageNumbers;
    },
    pageWeAreOn() {
      return this.currentBranchPage + 1;
    },
    
  },
  async mounted() {
    console.log('mounted')

    await this.FETCH_SUBWIKI_LIST();
    this.reOrderTheList();
    this.calculateIndices(0);
  },
  methods: {
    ...mapActions("SubWikiStore", ["FETCH_SUBWIKI_LIST"]),

    newPage(number) {
      this.currentBranchPage += number;
      this.calculateIndices(this.currentBranchPage);
    },
    goToPage(number) {
      this.currentBranchPage = number - 1;
      console.log(this.currentBranchPage);
      this.calculateIndices(this.currentBranchPage);
    },
    calculateIndices(currentBranchPage) {
      if (this.currentBranchPage === 0) {
        this.currentIndices = [0, 10];
      } else {
        let newIndices = currentBranchPage * 10;
        this.currentIndices = [newIndices, newIndices + 10];
      }
      window.scrollTo(0, 0);
    },
    reOrderTheList() {
      // The minus on popularity makes it reverse ordered
      let orderBy = this.$route.params.radioSelected == 'alphabetical' ? 'subwikiLabel' : '-popularity';
      let list = [...this.GET_SUBWIKI_LIST]; // Because otherwise it will update the list in the store

      list = list.sort(window.dynamicSort(orderBy));
      
      if (this.searchFilter) {
        let filteredList = [];
        for (let index = 0; index < list.length; index++) {
          if (list[index].subwikiLabel.toLowerCase().search(this.searchFilter.toLowerCase()) > -1) {
            filteredList.push(list[index]);
          }
          
        }
        this.reOrderedList = filteredList;
      } else {
        this.reOrderedList = list;
      }
    },
  },
};
</script>

<style scoped>
.browsesubwikicard {
  border: 1px;
  border-style: solid;
  border-color: #f5f5f5;
}

.browsesubwikitop {
  border-bottom: 2px solid #f5f5f5;
}

.browsesubwikibottom {
  border-top: 2px solid #f5f5f5;
}

.browsesubwikitop .v-card__title {
  word-break: normal;
  display: block;
  text-align: center;
  line-height: 1.5;
}
</style>
