<template>
  <div>
    <v-container id="Contribute">
      <v-row cols="12">
         <v-layout justify-center
          >
        <v-col cols="12" :xl="6" :lg="4" :md="5">
            <PaymentForm />
          </v-col>

          <v-col cols="12" :xl="4" :lg="6" :md="7" class="hidden-sm-and-down">
          <p><i>{{$t('SocialMedia.is-translated')}}</i></p>
          <h2>{{$t('SocialMedia.header')}}</h2>
          <img
            src="@/assets/JimmyWalesContribute.jpg"
            width="400"
            height="266"
            />
          <p><small><a href="https://commons.wikimedia.org/wiki/File:Jimmy_Wales-2.jpg">Image by VGrigas (WMF) - CC-BY-SA 3.0</a></small></p>
          <h4><strong>{{$t('SocialMedia.first-line')}}</strong></h4><br>
          <p>{{$t('SocialMedia.paragraph-1')}}</p>
          <p>{{$t('SocialMedia.paragraph-2')}}</p>
          <p>{{$t('SocialMedia.paragraph-3')}}</p>
          <h4><strong><p>{{$t('SocialMedia.second-header')}}</p></strong></h4>
          <p>{{$t('SocialMedia.paragraph-4')}}</p>
          <p>{{$t('SocialMedia.paragraph-5')}}</p>
          <p>{{$t('SocialMedia.paragraph-6')}}</p>
          <p>{{$t('SocialMedia.paragraph-7')}}</p>
          <p>{{$t('SocialMedia.sign-off')}}</p>
        </v-col>
        </v-layout>
      </v-row>
      <v-row cols="12">
        <v-layout justify-center>
          <v-col cols="12" :lg="6" :md="8" class="text-center">
            If you would like to support us at a higher level, you can join us
            as a Patron.
            <router-link to="/patrons">Find out more today</router-link>
          </v-col>
        </v-layout>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import PaymentForm from "./components/PaymentForm.vue";
export default {
  name: "Contribute",
  components: { PaymentForm },
  data() {
    return {
      pageVersion: null,
    };
  },
  mounted() {
    if (!this.userProfile) {
      this.loadUser();
    }
    this.DETECT_CONTRIBUTE_MODE(this.$router.currentRoute.name);
  },
  computed: {
    ...mapGetters("UserContributionsStore", [
      "GET_CONTRIBUTION_FETCH_OPERATIONS",
      "GET_USER_COUNTRY",
      "GET_IS_ANON_PAYMENT",
      "GET_CONTRIBUTE_PAGE_MODE",
    ]),

    ...mapGetters("UserStore", ["isLoggedIn", "GET_LOGGED_OUT_PAYMENTS"]),
  },
  methods: {
    ...mapActions("UserStore", ["fetchAuthenticatedUser"]),
    ...mapActions("UserContributionsStore", [
      "FETCH_USER_COUNTRY_AND_MAKE_CURRENCY",
      "DETECT_CONTRIBUTE_MODE",
    ]),

    loadUser: async function () {
      this.FETCH_USER_COUNTRY_AND_MAKE_CURRENCY();
      await this.fetchAuthenticatedUser();
    },
  },
};
</script>

<style scoped>

</style>
