<template>
  <div>
    <v-container id="MyPayments">
      <v-row cols="12">
        <v-col cols="12" :lg="GET_IS_ANON_PAYMENT ? 12 : 4">
          <PaymentForm />
        </v-col>

        <v-col cols="12" :lg="8" v-if="!GET_IS_ANON_PAYMENT">
          <PaymentListing />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import PaymentForm from "./components/PaymentForm.vue";
import PaymentListing from "./components/PaymentListing.vue";
export default {
  name: "MyPayments",
  components: { PaymentForm, PaymentListing },
  data() {
    return {};
  },
  mounted() {
    if (!this.userProfile) {
      this.loadUser();
    }
  },
  computed: {
    ...mapGetters("UserContributionsStore", [
      "GET_CONTRIBUTION_FETCH_OPERATIONS",
      "GET_USER_COUNTRY",
      "GET_IS_ANON_PAYMENT",
    ]),
    ...mapGetters("UserStore", ["isLoggedIn", "GET_LOGGED_OUT_PAYMENTS"]),
  },
  methods: {
    ...mapActions("UserStore", ["fetchAuthenticatedUser"]),
    ...mapActions("UserContributionsStore", [
      "FETCH_USER_COUNTRY_AND_MAKE_CURRENCY",
    ]),

    loadUser: async function () {
      this.FETCH_USER_COUNTRY_AND_MAKE_CURRENCY();
      await this.fetchAuthenticatedUser();
    },
  },
};
</script>
