<template>
  <div id="Read-Post">
    <template
      v-if="
        typeof GET_POST_READING.slug != 'undefined' &&
        GET_POST_READING.slug.length > 0
      "
    >
      <template v-if="GET_POST_READING.blocked">
        <BlockedContent by="them" />
      </template>
      <template v-else>
        <Edit />
        <action-chip
          v-if="typeof GET_POST_READING.data != 'undefined'"
          :date="GET_POST_READING.createdAt"
          :user="GET_POST_READING.data.createdByUser"
          :subwiki="GET_POST_READING.data.subwiki"
          :maintrunk="GET_POST_READING.data.maintrunk ? true : false"
          :userprofile="GET_POST_READING.data.userprofile"
          :collaborative="GET_POST_READING.collaborative"
          action="post"
        />

        <span class="posttext mt-2" v-html="postRevisionText()" />
        <SpiderCard
          :url="GET_POST_READING.cardUrl"
          v-if="GET_POST_READING.cardUrl"
        />
        <template v-if="isLoggedIn">
          <v-toolbar elevation="0" dense>
            <VoteBtns
              :voteFor="{
                pk: GET_POST_READING.pk,
                sk: GET_POST_READING.sk,
                slug: GET_POST_READING.slug,
              }"
              :voteValueSumInput="
                GET_POST_READING.statistics &&
                GET_POST_READING.statistics.voteValueSum
                  ? GET_POST_READING.statistics.voteValueSum
                  : 0
              "
            />
            <v-spacer />
            <template v-if="GET_POST_READING.collaborative">
              <EditBtn
                :edit="{ pk: GET_POST_READING.pk, sk: GET_POST_READING.sk }"
                context="post"
                :originalText="postRevisionText()"
                :cardUrl="GET_POST_READING.cardUrl"
                :isMine="isMine(GET_POST_READING)"
              />
            </template>
            <span class="pl-2">
              <ArchiveBtn
                :itemKey="GET_POST_READING"
                :createdByUserSlug="GET_POST_READING.data.createdByUser.slug"
                type="post"
              />
            </span>
          </v-toolbar>
          <div v-if="!anyComments || postInCommentCreateArray" class="pt-4">
            <CommentCreate
              :commentOn="parentInfo(GET_POST_READING)"
              commentOnEntity="post"
              :topLevel="parentInfo(GET_POST_READING)"
            />
          </div>
          <div v-if="anyComments && !postInCommentCreateArray" class="pt-4">
            <v-row>
              <v-col class="d-flex justify-center align-center pt-2">
                <v-btn
                  class="px-4"
                  :color="$vuetify.theme.dark ? 'wtsgrey' : 'secondary'"
                  @click="SET_SHOW_COMMENTCREATE_ARRAY(GET_POST_READING.sk)"
                  >{{ $t("General.comment") }}</v-btn
                >
              </v-col>
            </v-row>
          </div>
          <div>
            <v-row>
              <v-col class="pt-2">
                <CommentTree
                  :level="0"
                  commentOnEntity="post"
                  :commentOnItem="GET_POST_READING"
                />
              </v-col>
            </v-row>
          </div>
        </template>
      </template>
    </template>
    <template v-else>
      <v-progress-linear
        indeterminate
        color="green darken-2"
      ></v-progress-linear>
    </template>
  </div>
</template>
<script>
import Vue from "vue";

import { mapGetters, mapActions } from "vuex";
import ActionChip from "./components/partials/ActionChip.vue";
import ArchiveBtn from "./components/partials/ArchiveBtn.vue";
import BlockedContent from "./components/partials/BlockedContent.vue";
import CommentCreate from "./components/CommentCreate.vue";
import CommentTree from "./components/CommentTree.vue";
import Edit from "./components/Edit";
import EditBtn from "./components/partials/EditBtn.vue";
import SpiderCard from "./components/partials/SpiderCard";
import VoteBtns from "./components/partials/VoteBtns.vue";

export default {
  name: "ReadPost",
  components: {
    ActionChip,
    ArchiveBtn,
    BlockedContent,
    Edit,
    EditBtn,
    CommentCreate,
    CommentTree,
    SpiderCard,
    VoteBtns,
  },
  data: function () {
    return {
      pageTitle: "Loading post...",
      robots: 'all'
    };
  },
  metaInfo () {
    return {
    title: this.pageTitle,
    meta: [
          { vmid: 'robots', name: 'robots', content: this.robots }
        ]
    }
  },
  mounted() {
    //console.log("Are we hitting mounted twice?")
    // No
    // this.resetPage()
    if (this.isLoggedIn && this.$route.params.LANG != this.userLanguage) {
      this.$router.push({
        name: "Read",
        params: {
          LANG: this.userLanguage,
          readSlug: this.$route.params.readSlug,
        },
      });
    }
  },
  watch: {
    "$route.params.readSlug": {
      handler: function (newPostSlug) {
        this.ready = false;
        if (newPostSlug) {
          Vue.nextTick(() => {
            this.resetPage();
          });
        }
      },
      deep: true,
      immediate: true,
    },
    GET_POST_READING: {
      handler: function (newPost) {
        if (newPost) {
          this.pageTitle = "Post by "+newPost.data.createdByUser.fname;
          this.robots = (newPost.data.createdByUser.trustLevelInfo.trustLevelInt <= 1) ? 'noindex' : 'all';
        }
      },
      deep: true,
      immediate: true,
    },
  },
  computed: {
    ...mapGetters("PostStore", ["GET_POST_READING"]),
    ...mapGetters("UserStore", ["userLanguage", "userProfile", "isLoggedIn"]),
    ...mapGetters("RevisionStore", ["GET_REVISION_LIST"]),
    ...mapGetters("InterfaceStore", ["GET_SHOW_COMMENTCREATE_ARRAY"]),
    anyComments() {
      if (this.GET_POST_READING.statistics.commentCountTopLevel === 0) {
        return false;
      } else {
        return true;
      }
    },
    postInCommentCreateArray() {
      if (
        this.GET_SHOW_COMMENTCREATE_ARRAY.includes(this.GET_POST_READING.sk)
      ) {
        return true;
      } else {
        return false;
      }
    },
    SHOW_COMMENT_CREATE_ARRAY: {
      get() {
        return this.GET_SHOW_COMMENTCREATE_ARRAY;
      },
      set(value) {
        this.SET_SHOW_COMMENTCREATE_ARRAY(value);
      },
    },
  },
  methods: {
    ...mapActions("PostStore", ["FETCH_POST_READING", "RESET_POST_READING"]),
    ...mapActions("RevisionStore", ["RESET_REVISION_LIST"]),
    ...mapActions("InterfaceStore", ["SET_SHOW_COMMENTCREATE_ARRAY"]),
    parentInfo(post) {
      return { pk: post.pk, sk: post.sk, slug: post.slug };
    },
    resetPage() {
      this.RESET_REVISION_LIST();
      this.RESET_POST_READING();
      this.FETCH_POST_READING(this.$route.params.readSlug);
    },
    postRevisionText() {
      if (
        typeof this.GET_POST_READING.slug != "undefined" &&
        this.GET_POST_READING.slug.length > 0
      ) {
        if (this.$route.params.revisionNo) {
          let k = this.GET_REVISION_LIST.length - this.$route.params.revisionNo;
          return this.GET_REVISION_LIST[k].revisionText;
        } else {
          return this.GET_POST_READING.postText;
        }
      } else {
        return "Wait...";
      }
    },
    isMine(post) {
      let userprofilePK = "userprofile#" + this.userProfile["slug"];
      return post?.profileFilter == userprofilePK;
    },
  },
};
</script>
