<template>
  <div>
    <template v-if="ready">
      <SubwikiDetails
        v-if="GET_HAS_SUBWIKI_LOADED.includes(GET_CURRENT_SUBWIKI.slug)"
      /><v-progress-linear
        v-else
        indeterminate
        color="green darken-2"
      ></v-progress-linear>
      <p align="right" class="create-post-toggle">
        <OpenPostDrawerButton  v-if="isLoggedIn"/>
      </p>
      <Edit />
      <v-row>
        <v-col>
          <CreatePostDrawer :disableSubwikiSelect="true" v-if="isLoggedIn"/>
          <PostList mode="subwiki" :subwikiSlug="$route.params.subwikiSlug" />
        </v-col>
      </v-row>
    </template>
    <v-progress-linear
      v-else
      indeterminate
      color="green darken-2"
    ></v-progress-linear>
  </div>
</template>
<script>
import Vue from "vue";

import Edit from "./components/Edit";
import PostList from "./components/PostList";
import SubwikiDetails from "./components/SubwikiDetails";
import CreatePostDrawer from "./components/CreatePostDrawer";
import OpenPostDrawerButton from "./components/partials/OpenPostDrawerButton";

import { mapGetters, mapActions } from "vuex";

export default {
  name: "Home",
  components: {
    Edit,
    PostList,
    SubwikiDetails,
    OpenPostDrawerButton,
    CreatePostDrawer,
  },

  data: function () {
    return {
      pageTitle: "Branch Loading",
      ready: false,
    };
  },
  
  
  metaInfo () {
    return {
    title: this.pageTitle
    }
  },
  watch: {
    "$route.params.subwikiSlug": {
      handler: function (newSubwikiSlug) {
        this.ready = false;
        if (newSubwikiSlug) {
          Vue.nextTick(() => {
            this.init();
          });
        }
      },
      deep: true,
      immediate: true,
    },
  },
  async mounted() {
    this.init();
  },
  computed: {
    ...mapGetters("SubWikiStore", [
      "GET_CURRENT_SUBWIKI",
      "GET_HAS_SUBWIKI_LOADED",
    ]),
    ...mapGetters("UserStore", ["userLanguage", "userProfile", "isLoggedIn"]),
  },
  methods: {
    ...mapActions("SubWikiStore", ["FETCH_SUBWIKI_DETAILS"]),
    ...mapActions("PostStore", [
      "UPDATE_NEW_POST_PARENT",
      "SET_LAST_EVALUATED_KEY_POSTS",
    ]),
    async init() {
      this.pageTitle = "Branch Loading"
      this.SET_LAST_EVALUATED_KEY_POSTS(null);
      await this.FETCH_SUBWIKI_DETAILS(this.$route.params.subwikiSlug);

      this.UPDATE_NEW_POST_PARENT({
        parent: {
          slug: this.$route.params.subwikiSlug,
          ...this.GET_CURRENT_SUBWIKI,
        },
        mode: "subwiki",
      });
      this.pageTitle =
        this.GET_CURRENT_SUBWIKI.subwikiLabel +
        " - " +
        this.GET_CURRENT_SUBWIKI.subwikiDesc;
      this.ready = true;
    },
  },
};
</script>
<style scoped>
#Home {
}
</style>
