<template>
  <div id="guide">
    <h1 v-html='$t("TrustLevels.title")' />
    <br />
    <p v-html='$t("TrustLevels.intro")' />
    <v-levels dense>
      <v-levels-item
        v-for="(level, i) in levels"
        :key="i"
        :color="$vuetify.theme.dark ? levelColoursDark[levels[i].name] : levelColoursLight[levels[i].name]"
      >
        <v-card
          :color="$vuetify.theme.dark ? levelColoursDark[levels[i].name] + ' darken-4' 
                  : levelColoursLight[levels[i].name] + ' lighten-5'"
          :elevation="10"
        >
          <v-card-text>
            <v-row justify="space-between">
              <v-col cols="8" md="9">
                <h2 v-html="level.name" />
              </v-col>
              <v-col cols="4" md="3">
                <h3 v-html='$t("TrustLevels.vote_weight") + ": " + level.weight' />
              </v-col>
              <v-col cols="12">
                <p v-html="level.description" />
              </v-col>
              <v-col cols="12">
                <p v-html="'<b>' + $t('TrustLevels.unlocked') + ': ' + level.unlocked + '</b>'" />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-levels-item>
    </v-levels>
  </div>
</template>
<script>
import i18n from "@/plugins/i18n";
export default {
    data() {
        return {
            levels: i18n.t("TrustLevels.levels"),
            levelColoursLight: {
                NewbieGuest: "white",
                Citizen: "green",
                Bronze: "orange",
                Silver: "grey",
                Gold: "yellow",
                Platinum: "cyan",
                Diamond: "light-blue",
                "Double Diamond": "blue",
                "Grand Poobah": "red"
            },
            levelColoursDark: {
                NewbieGuest: "white",
                Citizen: "green",
                Bronze: "orange",
                Silver: "grey",
                Gold: "yellow",
                Platinum: "cyan",
                Diamond: "light-blue",
                "Double Diamond": "blue",
                "Grand Poobah": "red"
            },
        };
    },
};
</script>

