<template>
  <div
    class="editor mce-editor"
    :data-modeofuse="modeOfUse"
    :data-identifier="identifier"
  >
    <Editor
      v-if="readyToRender"
      v-model="CONTENT_HTML"
      :key="IS_DARK_MODE"
      :api-key="GET_MCEKEY"
      v-on:onInit="editorHasLoaded"
      v-on:onBlur="editorLostFocus"
      :placeholder="$t(getPlaceholder())"
      :init="INIT_DATA"
    />
    <div v-if="showDebug">
      <v-chip color="green" class="white--text"
        >showDebug: {{ showDebug }}</v-chip
      >
      <v-chip color="red" v-if="typeof identifier == 'undefined'">
        {{$t('Errors.no-identifier')}}
      </v-chip>
      <v-chip
        color="red"
        v-if="GET_MCE_SETTING(this.modeOfUse, 'plugins') == ''"
      >
        {{$t('Errors.no-settings')}}
      </v-chip>
      <v-chip color="blue" class="white--text"
        >readyToRender: {{ readyToRender }}</v-chip
      >
      <v-chip color="blue" class="white--text"
        >modeOfUse: {{ modeOfUse }}</v-chip
      >
      <v-chip color="yellow"
        >plugins: {{ GET_MCE_SETTING(modeOfUse, "plugins").length }}</v-chip
      >
      <v-chip color="yellow">{{$t('EditBox.identifier')}} {{ identifier }}</v-chip>
      <v-chip color="blue">{{ GET_CONTENT_SOURCES[modeOfUse] }}</v-chip>
    </div>
    <v-progress-linear
    v-if="!['idle', 'error', 'complete'].includes('uploadState') "
        indeterminate
        :color="spinnerColour()+'darken-2'"
      ></v-progress-linear>
  </div>
</template>
<script>
import Editor from "@tinymce/tinymce-vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "ContentEditor",
  props: ["identifier", "focusOnMount"],
  components: { Editor },
  data: function () {
    return {
      uploadHandlers: {
        success: null,
        failure: null,
      },
      showDebug: false,
      finishedRender: false,
      imgurl: "",
      initHTMLLoaded: false,
      isSaving: false,
      siteUrl: "",
      setEditorFocus: false,
      uploadState: "idle",
      awaitingUpload: false
    };
  },
  mounted() {
    if (this.focusOnMount) {
      this.setEditorFocus = true;
    }
  },
  watch: {
    IS_DARK_MODE() {

      window.tinymce.init(this.INIT_DATA);
    },
    GET_UPLOADED_S3_URL() {
      if (this.awaitingUpload) {
        if (this.GET_UPLOADED_S3_URL?.['content']) {
          this.awaitingUpload = false;
          this.uploadState = "complete";
          this.uploadHandlers.success(this.GET_UPLOADED_S3_URL['content'].signedurl.split("?")[0]);
          setTimeout(() => {
            this.uploadState = "idle";
          }, 5000);
        } else {
          console.log("Looks like the upload failed");
          this.uploadHandlers.failure("Looks like the upload failed");
        }
        this.RESET_UPLOAD()
      }
    }
  },
  computed: {
    ...mapGetters("WYSIWYGStore", [
      "GET_MCEKEY",
      "GET_CONTENT",
      "GET_MCE_SETTING",
      "GET_CONTENT_SOURCES",
    ]),
    ...mapGetters("Languages", ["GET_LOCALE"]),
    ...mapGetters("EditStore", ["GET_COMMENTSFOR"]),
    ...mapGetters("PreferenceStore", ["IS_DARK_MODE"]),
    ...mapGetters("MediaStore", ["GET_S3_SIGNED_URL", "GET_UPLOADED_S3_URL"]),

    INIT_DATA() {
      return {
        content_css: [this.IS_DARK_MODE ? "dark" : "", '/mce.css'],
        content_style: this.IS_DARK_MODE
          ? `.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {color: white;}	`
          : `.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {color: black;}	` ,
        plugins: this.GET_MCE_SETTING(this.modeOfUse, "plugins"),
        toolbar: this.GET_MCE_SETTING(this.modeOfUse, "toolbars"),
        menubar: this.GET_MCE_SETTING(this.modeOfUse, "menubar"),
        height: this.GET_MCE_SETTING(this.modeOfUse, "height"),
        contextmenu: false,
        convert_urls: 0,
        paste_as_text: false,
        a11y_advanced_options: true,
        automatic_uploads: true,
        branding: false,
        // block_unsupported_drop: true,
        browser_spellcheck: true,
        paste_data_images: true,
        images_upload_url: "/media/getsignedurl",
        images_upload_handler: this.image_upload_handler,
        image_dimensions: false,
        image_class_list: [{ title: "Responsive", value: "img-responsive" }],
      };
    },
    readyToRender() {
      if (
        this.GET_MCE_SETTING(this.modeOfUse, "plugins") != "" &&
        typeof this.identifier != "undefined" &&
        this.identifier != ""
      ) {
        return true;
      } else {
        return false;
      }
    },
    modeOfUse() {
      if (typeof this.identifier == "undefined") {
        return "post";
      } else if (this.identifier == "NewPost") {
        return "post";
      } else if (this.identifier.startsWith("commentOn-")) {
        return "comment";
      } else if (this.identifier == "Edit") {
        return "edit";
      } else {
        return "post";
      }
    },
    CONTENT_HTML: {
      get() {
        if (typeof this.identifier == "undefined") {
          return "-- NO IDENTIFIER --";
        } else {
          return this.GET_CONTENT(this.modeOfUse, this.identifier);
        }
      },
      set(value) {
        this.UPDATE_CONTENT({
          modeOfUse: this.modeOfUse,
          identifier: this.identifier,
          editorContent: value,
        });
      },
    },
  },
  methods: {
    ...mapActions("WYSIWYGStore", ["UPDATE_CONTENT"]),
    ...mapActions("MediaStore", [
      "FETCH_SIGNED_URL",
      "UPLOAD_MEDIA",
      "SET_MEDIA_BLOB_TYPE",
      "SET_MEDIA_BLOB",
      "RESET_UPLOAD"
    ]),
    spinnerColour() {
      switch (this.uploadState) {
        case 'settingblob':
          return 'grey';
        case 'fetchingurl':
          return 'yellow';
        case 'uploading':
          return 'blue';
      }

    },
    getPlaceholder() {
      if (this.modeOfUse == 'post') { return 'General.post-placeholder' }
      else if (this.modeOfUse == 'comment') { return 'General.comment-placeholder' }
      else if (this.modeOfUse == 'edit') { return 'General.edit-placeholder' }
      else  {return 'General.post-placeholder'}

    },
    editorLostFocus: function () {},
    editorHasLoaded: function () {
      if (this.modeOfUse == "comment") {
        if (this.setEditorFocus == true) {
          window.tinymce.activeEditor.focus();
        }
        this.finishedRender = true;
      }
    },
    image_upload_handler: async function (
      blobInfo,
      success,
      failure
      // progress
    ) {
      this.uploadHandlers = {
        success: success,
        failure: failure,
      }
      this.uploadState = "settingblob";
      let type = blobInfo.blob().type;
      await this.SET_MEDIA_BLOB({
        blob: blobInfo.blob(),
        purpose: 'content'
      });
      this.uploadState = "fetchingurl";
      await this.FETCH_SIGNED_URL({
        name: blobInfo.filename(),
        type: type,
        purpose: 'content'
      });
      this.awaitingUpload = true;
      
      // success("")
    },
  },
};
</script>
