<template>
  <div>
            <v-switch
        v-on:click="toggle_dark_mode"
        inset
        :label="$t('General.dark-mode')"
        v-model = IS_DARK_MODE
      ></v-switch>
</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  methods: {
    toggle_dark_mode: function () {
        this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
        console.log("Toggling dark mode here is the theme setting - " + this.$vuetify.theme.dark)
        localStorage.setItem("dark_theme", this.$vuetify.theme.dark.toString());
        this.SAVE_PREFERENCE({
          endpoint: "isdarkmode",
          key: "isDarkMode",
          value: this.$vuetify.theme.dark,
        });
    },
    ...mapActions("PreferenceStore", ["SAVE_PREFERENCE"])
  },
  computed: {
    ...mapGetters("PreferenceStore", ["IS_DARK_MODE", "IS_DARK_MODE_STORE"]),
  },
}

</script>