<template>
  <v-card elevation="0" color="wtsgrey" class="recommendedbox">
    <v-card-title>{{ $t("General.recommended-branches") }}</v-card-title>
    <v-card-text>
      <div v-for="(linklist, h4) in recommendations" v-bind:key="h4">
        <h4>{{ $t(h4) }}:</h4>
        <ul>
          <li
            v-for="(link, i) in linklist[GET_LOCALE]"
            v-bind:key="'help-' + i"
          >
            <router-link
              :to="{
                name: 'Branch',
                params: { LANG: GET_LOCALE, subwikiSlug: link.slug },
              }"
              >{{ link.label }}
            </router-link>
          </li>
        </ul>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    name: "Recommended",
    data: () => ({
        langLinkKey: 'en',
        recommendations: {
            "Recommended.to-help-build": {
                // russian language needs to be added here once recommended subwikis are made
                en: [
                    {
                      slug:"trustcafe-feedback",
                      label: "Trust Cafe Feedback"
                    },
                    {
                      slug:"request-a-branch",
                      label: "Request A Branch"
                    }
                ],
                es: [
                    {
                        slug: "wts-ui-y-ux-espa-ol",
                        label: "WTS2 UI y UX",
                    },
                    {
                        slug: "wts2-bugs-espa-ol",
                        label: "WTS2 Bugs",
                    },
                    {
                        slug: "wts2-features-espa-ol",
                        label: "WTS2 Features",
                    },
                ],
                de: [
                    {
                        slug: "forum-wts2-deutsch----",
                        label: "Forum WTS2 Deutsch - 🇩🇪 🇦🇹 🇨🇭",
                    },
                    {
                        slug: "verbesserungsvorschl-ge-und-fehlermeldungen",
                        label: "Verbesserungsvorschläge und Fehlermeldungen",
                    },
                    {
                        slug: "wts2-ui-and-ux",
                        label: "WTS2 UI and UX",
                    },
                ],
                pt: [
                    {
                        slug: "wts2-ui-e-ux-portugu-s",
                        label: "WTS2 UI e UX",
                    },
                    {
                        slug: "wts2-bugs-portugu-s",
                        label: "WTS2 Bugs",
                    },
                    {
                        slug: "wts2-features-portugu-s",
                        label: "WTS2 Features",
                    },
                ],
            },
            "Recommended.for-fun": {
                en: [
                    {
                        slug: "music",
                        label: "Music",
                    },
                    {
                        slug: "photography",
                        label: "Photography",
                    },
                    {
                        slug: "the-ultimate-in-casual-chit-chat",
                        label: "The ultimate in casual chit chat",
                    },
                    {
                        slug: "weird-news",
                        label: "Weird News",
                    },
                    {
                        slug: "video-games",
                        label: "Video Games",
                    },
                    {
                        slug: "cats-of-course",
                        label: "Cats of Course!",
                    },
                    {
                        slug: "spooky-season",
                        label: "Spooky Season",
                    }
                ],
                es: [
                    {
                        slug: "noticias-extra-as",
                        label: "Noticias extrañas",
                    },
                    {
                        slug: "charla-informal",
                        label: "Charla informal",
                    },
                ],
                de: [
                    {
                        slug: "was-h-rst-du-gerade",
                        label: "Was hörst du gerade?",
                    },
                    {
                        slug: "caf--smalltalk",
                        label: "Café Smalltalk",
                    },
                ],
                pt: [
                    {
                        slug: "guia-de-iniciante",
                        label: "Guia de iniciante",
                    },
                    {
                        slug: "noticias-bizarras",
                        label: "Noticias Bizarras",
                    },
                    {
                        slug: "galera-do-tik-tok",
                        label: "Galera do Tik Tok",
                    },
                    {
                        slug: "refugiados-do-twitter",
                        label: "Refugiados do Twitter",
                    },
                ],
            },
            "Recommended.technology": {
                en: [
                    {
                        slug: "artificial-intelligence",
                        label: "Artificial Intelligence",
                    },
                    {
                        slug: "technology",
                        label: "Technology",
                    },
                    {
                        slug: "ai-generated-images",
                        label: "AI Generated Images",
                    },
                ],
                es: [
                    {
                        slug: "technolog-a",
                        label: "Technología",
                    },
                ],
                de: [
                    {
                        slug: "umwelt-und-zukunftstechnologien",
                        label: "Umwelt- und Zukunftstechnologien",
                    },
                ],
                pt: [
                    {
                        slug: "tecnologia",
                        label: "Tecnologia",
                    },
                ],
            },            
            "Recommended.serious-stuff": {
                en: [
                    {
                        slug: "us-politics",
                        label: "US Politics",
                    },
                    {
                        slug: "world-news",
                        label: "World News",
                    },
                    {
                        slug: "climate-crisis",
                        label: "Climate Crisis",
                    },
                    {
                        slug: "ukraine-war",
                        label: "Ukraine War",
                    }
                ],
                es: [
                    {
                        slug: "pol-itica-de-los-eeuu",
                        label: "Política de los EEUU",
                    },
                    {
                        slug: "technolog-a",
                        label: "Technología",
                    },
                ],
                de: [
                    {
                        slug: "die-klimakrise",
                        label: "Die Klimakrise",
                    },
                    {
                        slug: "faktencheck-konkret",
                        label: "Faktencheck! Konkret",
                    },
                ],
                pt: [
                    {
                        slug: "brasil",
                        label: "Brasil",
                    },
                    {
                        slug: "tecnologia",
                        label: "Tecnologia",
                    },
                    {
                        slug: "finan-as--investimentos",
                        label: "Finanças & investimentos",
                    },
                    {
                        slug: "combatendo-a-desinforma--o",
                        label: "Combatendo a desinformação",
                    },
                    {
                        slug: "noticias-pt",
                        label: "Noticias",
                    },
                    {
                        slug: "aprendo-filosofia",
                        label: "Aprendendo filosofia",
                    },
                    {
                        slug: "document-rios",
                        label: "Documentários",
                    },
                ],
            },
        },
    }),
    computed: {
        ...mapGetters("Languages", ["GET_LOCALE"])
    },
};
</script>
<style lang="scss" scoped>
.recommendedbox {
  border: 1px solid #999;
}
</style>
