<template>
  <div class="subwikidetails">
    <div class="page-details">
      <h2>{{ GET_CURRENT_SUBWIKI.subwikiLabel }}</h2>
      <div class="stats-line grey--text mb-2 pt-4">
        <v-row>
          <v-col cols="12" md="8">
            <v-icon small color="orange" class="mr-1">fa-users</v-icon>
            {{ GET_CURRENT_SUBWIKI.statistics.totalFollowers }} Members

            <v-icon small color="wtsred" class="ml-4 mr-1"> fa-comments</v-icon
            >{{ GET_CURRENT_SUBWIKI.statistics.totalPosts }} Posts

            <v-icon small color="pink" class="ml-4 mr-1">fa-language</v-icon
            >{{ GET_CURRENT_SUBWIKI.subwikiLang }}
          </v-col>
          <v-col align="right">
            <FollowBtn
              v-if="GET_CURRENT_SUBWIKI.slug && isLoggedIn"
              :subwiki="GET_CURRENT_SUBWIKI"
            />
          </v-col>
        </v-row>
      </div>
      <template v-if="!editMode">
        <div class="subwiki-description" v-if="!GET_CURRENT_SUBWIKI.subwikiDescription && GET_CURRENT_SUBWIKI.legacySubwikiData">
          {{GET_CURRENT_SUBWIKI.legacySubwikiData.subwikiDesc}}
        </div>
        <div class="subwiki-description" v-else-if="GET_CURRENT_SUBWIKI.subwikiDescription">
          {{ GET_CURRENT_SUBWIKI.subwikiDescription }}
        </div>
        <div class="subwiki-description" v-else>
          {{GET_CURRENT_SUBWIKI.subwikiDesc}}
        </div>
        <v-btn v-if="isLoggedIn" elevation="0" v-on:click.prevent="enableEditMode()">{{
          $t("General.edit")
        }}</v-btn>
        {{ feedback }}
      </template>
      <template v-if="editMode">
        <v-btn elevation="0" v-on:click.prevent="disableEditMode()">{{
          $t("General.cancel")
        }}</v-btn>
        <v-textarea
          :background-color="$vuetify.theme.dark ? 'black' : 'blue lighten-5'"
          auto-grow
          outlined
          rows="4"
          row-height="15"
          v-model="EDITSUBWIKI_DESC"
          :label="$t('Branch.describe-branch')"
        />
        <v-btn v-on:click.prevent="SAVE_SUBWIKI_DESC()">{{
          $t("General.save")
        }}</v-btn>
      </template>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import FollowBtn from "./partials/FollowBtn.vue";

export default {
  name: "Home",
  components: { FollowBtn },
  data: function () {
    return {
      editMode: false,
      feedback: "",
    };
  },
  watch: {
    GET_UPDATE_STATE(newstate) {
      if (newstate == "completed") {
        this.editMode = false;
        this.feedback = "Updated!";
      }
      setTimeout(() => {
        this.feedback = "";
      }, 4000);
    },
  },
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
    ]),
    ...mapGetters("SubWikiStore", [
      "GET_CURRENT_SUBWIKI",
      "GET_UPDATE_STATE",
      "GET_CURRENT_SUBWIKI_DESC",
    ]),
    EDITSUBWIKI_DESC: {
      get() {
        return this.GET_CURRENT_SUBWIKI_DESC;
      },
      set(value) {
        this.UPDATE_SUBWIKI_DESC(value);
      },
    },
  },
  methods: {
    ...mapActions("SubWikiStore", [
      "FETCH_SUBWIKI_DETAILS",
      "SAVE_SUBWIKI_DESC",
      "UPDATE_SUBWIKI_DESC",
    ]),
    enableEditMode: function () {
      this.editMode = true;
    },
    disableEditMode: function () {
      this.editMode = false;
    },
  },
};
</script>
<style lang="sass" scoped></style>
