<template>
  <v-card elevation="0" color="wtsgrey" class="whoifollowbox">
    <v-card-title class="followtitle">{{
      $t("Following.users-following")
    }}</v-card-title>
    <v-card
      flat
      color="wtsgrey"
      v-for="what in ['userprofile']"
      v-bind:key="what"
    >
      <v-card-text>
        <div v-if="numberFollowing > 0">
        <div v-for="(following, f) in GET_MEMORY[what]" v-bind:key="f">
          <template v-if="following.label && following.following">
            <router-link
              class="px-1"
              v-if="what == 'userprofile'"
              :to="{
                name: 'User Profile - Follow',
                params: {
                  userSlug: following.followSlug,
                  LANG: userLanguage,
                  tabSelected: 'posts',
                },
              }"
              :title="following.label"
              >{{ following.label }}</router-link
            >
          </template>
        </div>
        </div>
        <div v-else>
          {{$t('Following.following-nobody')}}
        </div>
      </v-card-text></v-card
    >
  </v-card>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  components: {},
  async mounted() {
    this.FETCH_WHO_I_FOLLOW();
  },
  computed: {
    ...mapGetters("FollowStore", ["GET_MEMORY"]),
    ...mapGetters("UserStore", ["userLanguage"]),
    numberFollowing(){
      return Object.keys(this.GET_MEMORY['userprofile']).length
    }
  },
  methods: {
    ...mapActions("FollowStore", ["FETCH_WHO_I_FOLLOW"]),
  },
};
</script>
<style lang="scss" scoped>
.whoifollowbox {
  border: 1px solid #999;
}
.followtitle {
  border-bottom: 1px solid #999;
}
</style>
