<template>
  <div>
    <v-simple-table v-if="GET_STRIPE_FETCH_OPERATIONS.invoices == 'success'">
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">{{ $t('Stripe.due') }}</th>
            <th class="text-left">{{ $t('Stripe.paid') }}</th>
            <th class="text-left">{{ $t('Stripe.status') }}</th>
            <th class="text-left">{{ $t('Stripe.date') }}</th>
            <th class="text-left">{{ $t('Stripe.invoice') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(invoice, i) in GET_STRIPE_INVOICES" v-bind:key="i">
            <td>{{ displayAmount(invoice.amount_due, invoice.currency) }}</td>
            <td>
              {{ displayAmount(invoice.amount_paid, invoice.currency) }}
            </td>
            <td>
              <template v-if="!invoice.closed"> {{ $t('Stripe.pending') }} </template>

              <template v-else-if="invoice.charge"> {{ $t('Stripe.paid') }} </template>
              <template v-else-if="invoice.closed"> {{ $t('Stripe.closed') }} </template>
            </td>

            <td>{{ displayDate(invoice.date * 1000) }}</td>
            <td>
              <a target="_blank" :href="invoice.invoice_pdf"
                ><v-icon>mdi-file-pdf-box</v-icon>{{ $t('Stripe.download') }}</a
              >
            </td>
          </tr>
        </tbody>
      </template></v-simple-table
    >

    <p v-else-if="GET_STRIPE_FETCH_OPERATIONS.invoices != 'error'">
      {{ $t('Stripe.fetching-invoices') }}
      <v-progress-linear
        indeterminate
        :color="
          'darken-2 ' +
          (GET_STRIPE_FETCH_OPERATIONS.invoices == 'fetching'
            ? 'green'
            : 'yellow')
        "
      ></v-progress-linear>
    </p>
    <v-chip color="red lighten-2" v-else
      >{{ $t('Stripe.fetch-invoice-error') }}</v-chip
    >
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "StripeCustomerInvoiceList",
  components: {},
  data() {
    return {};
  },
  mounted() {
    this.FETCH_STRIPE_INVOICE_DATA();
  },
  computed: {
    ...mapGetters("StripeStore", [
      "GET_STRIPE_FETCH_OPERATIONS",
      "GET_STRIPE_INVOICES",
    ]),
  },
  methods: {
    ...mapActions("StripeStore", ["FETCH_STRIPE_INVOICE_DATA"]),
    displayAmount(amount, currency) {
      return parseInt(amount) / 100 + " " + currency.toUpperCase();
    },
    displayDate(d) {
      return window.dateOut(d);
    },
  },
};
</script>
