<template>
  <div>
    <v-form v-if="resetTokenValidation == 'validated' && resetPasswordState == 'waiting'">
      <v-container fluid>
        <p>{{$t('Auth.please-choose-new-password')}}</p>
        <v-text-field
          v-model="password"
          :append-icon="showPW ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="[rules.required, rules.min]"
          :type="showPW ? 'text' : 'password'"
          name="input-10-1"
          v-bind:label="$t('General.password')"
          hint="At least 8 characters"
          counter
          @click:append="showPW = !showPW"
        ></v-text-field>

        <v-text-field
          v-model="password2"
          :append-icon="showPW ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="[rules.required, rules.min]"
          :type="showPW ? 'text' : 'password'"
          name="input-10-1"
          v-bind:label="$t('General.confirm-password')"
          counter
          @click:append="showPW = !showPW"
        ></v-text-field>
        <div class="displayErrors" v-if="errors.length" style="color: #c21a0e">
          <br />
          <ul>
            <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
            <br />
          </ul>
        </div>
        <v-btn
          class="register"
          @click.prevent="validateReset()"
          :color="$vuetify.theme.dark ? 'secondary' : 'teal lighten-2'"
          >{{$t('Password.change-password')}}</v-btn
        >

        <v-chip v-if="authErrors.register.length > 0">
          <v-icon :color="$vuetify.theme.dark ? '#878a01' : 'red'"
            >mdi-alert-circle</v-icon
          >
          {{ authErrors.changepassword }}</v-chip
        >
      </v-container>
    </v-form>
    <template v-else-if="resetPasswordState == 'changed'">
      <p>{{$t('Password.your-password-has-been-changed')}}</p>
      <router-link to="/auth">{{$t('Password.login-now')}}</router-link>
    </template>
    <template v-else-if="resetPasswordState == 'error'">
      <p>{{$t('Password.your-password-could-not-be-changed-at-this-time')}}</p>
      <router-link :to="{ name: 'Contact', params: { LANG: localstorage.locale } }">{{$t('General.contact')}}</router-link>
    </template>
    <template v-else-if="resetTokenValidation == 'error'">
      <p>{{$t('Password.there-was-a-problem-validating-the-reset-token')}}</p>
      <p>{{$t('Password.password-reset-sentence-part-1')}} <router-link :to="{ name: 'Contact', params: { LANG: localstorage.locale } }">{{$t('General.contact')}}</router-link> {{$t('Password.password-reset-sentence-part-2')}} <router-link :to="{ name: 'Forgot Password', params: { LANG: localstorage.locale } }">{{$t('Password.password-reset-sentence-part-3')}}</router-link></p>
    </template>
    <template v-else>
      <p>{{$t('Auth.checking-details')}}</p>
      <v-progress-linear
        indeterminate
        color="yellow darken-2"
      ></v-progress-linear>
    </template>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import i18n from "@/plugins/i18n";

export default {
  data() {
    return {
      errors: [],
      showPW: false,
      password: "",
      password2: "",
      rules: {
        required: (value) => !!value || i18n.t("General.required"),
        min: (v) => v.length >= 8 || i18n.t("Password.minimum-characters"),
        emailMatch: () => i18n.t("Auth.email-match"),
      },
    };
  },
  computed: {
    ...mapGetters("UserStore", [
      "authErrors",
      "authStatus",
      "resetTokenValidation",
      "resetPasswordState",
    ]),
  },
  mounted() {
    this.checkresettoken();
  },
  methods: {
    ...mapActions("UserStore", ["checkresettoken","changepassword"]),
    validateReset() {
      //e.preventDefault();
      this.errors = [];
      if (this.password != this.password2) {
        this.errors.push("Passwords must match");
        console.log("The passwords do not match");
      } else {
        this.changepassword(this.password);
      }
    },
  },
};
</script>
