<template>
  <div
    :class="`metainfo mx-auto py-2 px-2 mb-1 datein-${date} context-${context} ${barColour()} action-chip`"
  >
    <UserBtn :user="ChipUser" v-if="ChipUser.slug != ''" displayMode="pic" />
    <div class="d-inline-block pl-2">
      <UserBtn :user="ChipUser" v-if="ChipUser.slug != ''" displayMode="name" />
      -
      <template v-if="timestamplink">
        <router-link :to="timestamplink">
          <DateOut :datein="ChipDate" />
        </router-link>
      </template>
      <DateOut v-else :datein="ChipDate" /><br />

      <template
        v-if="ChipAction == 'comment' && ChipContext == 'contributions'"
      >

        <em>{{ $t("General.commented-on-a-post") }} by </em>
        <UserBtn
          :user="ChipCommentTopLevel.createdByUser"
          v-if="ChipCommentTopLevel.createdByUser.slug != ''"
          displayMode="name"
        />
        in
          <router-link v-if="ChipCommentTopLevelDestination.entity == 'subwiki'"
            class="px-1"
            :to="{
              name: 'Branch',
              params: { subwikiSlug: ChipCommentTopLevelDestination.slug },
            }"
            :title="ChipCommentTopLevelDestination.name"
            >{{ ChipCommentTopLevelDestination.name }}</router-link
          >
            <template v-if="ChipCommentTopLevelDestination.entity == 'userprofile'">
          <router-link
            class="user-btn"
            :to="{
              name: 'User Profile',
              params: {
                userSlug: ChipCommentTopLevelDestination.slug,
                tabSelected: 'posts',
              },
            }"
            >{{ ChipCommentTopLevelDestination.name }}</router-link
          >'s Branch
          </template>
          <TheTrunk v-if="ChipCommentTopLevelDestination.entity == 'maintrunk'"/>
      </template>
      <template v-else>
        <span v-if="ChipAction == 'comment'">{{ $t("General.replied") }}</span>

        <template
          v-else-if="
            ChipAction == 'post' &&
            ChipSubwiki.slug &&
            ChipSubwiki.slug.length > 0
          "
          ><span>{{ $t("General.posted-in") }}</span>
          <router-link
            class="px-1"
            :to="{ name: 'Branch', params: { subwikiSlug: ChipSubwiki.slug } }"
            :title="ChipSubwiki.slug"
            >{{ ChipSubwiki.label }}</router-link
          >
        </template>
        <template v-else-if="ChipMainTrunk">
          <em>{{ $t("General.posted-in") }} 
          </em><TheTrunk/>
        </template>
        <template v-else-if="isToAProfile()"
          ><em>{{ $t("General.posted-to") }} </em>
          <UserBtn
            :user="ChipUserProfile"
            v-if="ChipUserProfile.slug != ''"
            displayMode="name"
          />
          's {{ $t("General.profile") }}
        </template>
        <!-- <span v-else-if="ChipAction == 'post'"> -->
        <span v-else-if="ChipAction == 'post'">
          {{ $t("General.posted-in-their-branch") }}
        </span>
        <em v-if="ChipAction == 'post'">
          -
          <template v-if="ChipCollab">
            {{ $t("General.is-collaborative") }}
          </template>

          <template v-else>{{ $t("General.not-collaborative") }}</template>
        </em>
      </template>
    </div>
  </div>
</template>
<script>
import DateOut from "./DateOut.vue";
import UserBtn from "./UserBtn.vue";
import TheTrunk from "./TheTrunk.vue";

export default {
  name: "ActionChip",
  props: [
    "action",
    "collaborative",
    "context",
    "date",
    "maintrunk",
    "subwiki",
    "timestamplink",
    "topLevel",
    "topLevelDestination",
    "user",
    "userprofile",
  ],
  components: {
    DateOut,
    UserBtn,
    TheTrunk,
  },
  watch: {},
  data: function () {
    return {
      ChipAction: null,
      ChipCollab: true,
      ChipCommentTopLevel: {},
      ChipCommentTopLevelDestination: {},
      ChipContext: "normal",
      ChipDate: 0,
      ChipMainTrunk: false,
      ChipSubwiki: { label: "", slug: "" },
      ChipUser: { label: "", slug: "" },
      ChipUserProfile: { label: "", slug: "" },
    };
  },
  updated() {
    this.loadPropData();
  },
  mounted() {
    this.loadPropData();
  },

  methods: {
    barColour() {
      return this.$vuetify.theme.dark ? "grey darken-4" : "grey lighten-4 ";
    },

    isToAProfile() {
      if (this.ChipUserProfile.slug != this.ChipUser.slug) {
        return true;
      } else {
        return false;
      }
    },
    loadPropData: function () {
      if (typeof this.topLevel != "undefined") {
        this.ChipCommentTopLevel = this.topLevel;
      }
      if (typeof this.topLevelDestination != "undefined") {
        this.ChipCommentTopLevelDestination = this.topLevelDestination;
      }
      if (typeof this.maintrunk != "undefined") {
        this.ChipMainTrunk = (this.maintrunk) ? true : false;
      }
      if (typeof this.context != "undefined") {
        this.ChipContext = this.context;
      }
      if (typeof this.date != "undefined") {
        this.ChipDate = this.date;
      }
      if (typeof this.user != "undefined") {
        this.ChipUser = this.user;
      }
      if (typeof this.action != "undefined") {
        this.ChipAction = this.action;
      }
      if (typeof this.subwiki != "undefined") {
        this.ChipSubwiki = this.subwiki;
      }
      if (typeof this.userprofile != "undefined") {
        this.ChipUserProfile = this.userprofile;
      }
      if (typeof this.collaborative != "undefined") {
        this.ChipCollab = this.collaborative;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.action-chip {
  font-size: 0.8em;
  color: grey;
  .dateout {
    font-size: 0.9rem;
  }
}
</style>
