<template>
  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on: dialog }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on: tooltip }">
          <v-icon color="red lighten-2" dark v-on="{ ...tooltip, ...dialog }">
            mdi-archive
          </v-icon>
        </template>
        <span v-if="type === 'post'">{{$t('Archive.archive-post')}}</span>
        <span v-else>{{$t('Archive.archive-comment')}}</span>
      </v-tooltip>
    </template>

    <v-card>
      <v-card-title v-if="type === 'post'" class="text-h5 grey lighten-2">
        {{ $t("Archive.archive-post") }}
      </v-card-title>
      <v-card-title v-else class="text-h5 grey lighten-2">
        {{ $t("Archive.archive-comment") }}
      </v-card-title>
      <v-card-text v-if="type === 'post'">
        {{ $t("Archive.are-you-sure-post") }}
      </v-card-text>
      <v-card-text v-else>{{ $t("Archive.are-you-sure-comment") }}</v-card-text>
      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="dialog = false">{{ $t("Archive.cancel") }}</v-btn>
        <v-btn color="red" text @click="handleArchiveConfirm()">
          {{ $t("Archive.archive") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  props: ["itemKey", "createdByUserSlug", "type", "slug"],
  data: function () {
    return {
      dialog: false,
    };
  },
  computed: {
    ...mapGetters("UserStore", ["userLanguage"])
  },
  methods: {
    ...mapActions("PostStore", ["ARCHIVE_POST"]),
    ...mapActions("CommentStore", ["ARCHIVE_COMMENT"]),
    handleArchiveConfirm() {
      if(this.type === "post"){
      this.ARCHIVE_POST({
        key: {
          pk: this.itemKey.pk,
          sk: this.itemKey.sk,
        },
        userslug: this.createdByUserSlug,
        slug: this.slug
      });
      this.dialog = false;
      if(this.$route.name === 'Read'){
        this.$router.push({
          path: "/" + this.userLanguage,
        });
      }}
      if(this.type === "comment"){
        console.log("It's a comment'")
        this.ARCHIVE_COMMENT({
          key: {
          pk: this.itemKey.pk,
          sk: this.itemKey.sk,
        },
        userslug: this.createdByUserSlug,
        })
        this.dialog = false;
      }
    },
  },
};
</script>
