<template>
  <v-btn title="Read" color="yellow lighten-2" @click="handleBack()">
    <v-icon small>mdi-arrow-left</v-icon>
  </v-btn>
</template>

<script>
export default {
  name: "BackBtn",
  props: [],
  mounted() {},
  computed: {},
  data() {
    return {
      fromRoute: null,
    };
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.fromRoute = from;
    });
  },
  methods: {
    /**
     * Handle Back
     * @desc Extends default router back functionality
     * @param {string} fallback - The fallback path if there is no history to use with $router.back(). This is usually the case if the page was visited directly or from another site
     **/
    handleBack(fallback) {
      if (!this.fromRoute.name) {
        this.$router.push(fallback);
      } else {
        this.$router.back();
      }
    },
  },
};
</script>
