<template>
  <div class="trust-rating">
    <v-menu
      v-model="showTrustMenu"
      :close-on-content-click="false"
      max-width="22em"
      min-width="22em"
      v-if="!IS_MY_PROFILE(userSlug)"
    >
      <template v-slot:activator="{ on, attrs }">
        <p
          class="grey--text darken-text-3 pa-0 ma-0 btn-set-trust"
          v-bind="attrs"
          v-on="on"
        >
          <v-icon color="wtsblue" class="mr-1">
            <template v-if="!trustExists()"> fa-question-circle </template>
            <template v-else> fa-check-square </template></v-icon
          >
          <template v-if="!trustExists()">
            {{ $t("Trust.set-trust-level") }}
          </template>
          <template v-else>
            {{ $t("Trust.you-rated") }} 
            {{ yourTrustLevel }}%
          </template>
        </p>
      </template>

      <v-card>
        <v-card-text>
          <template v-if="loadingData">
            <p>
              <v-progress-linear
                indeterminate
                :color="$vuetify.theme.dark ? '#878a01' : 'green darken-2'"
              ></v-progress-linear>
            </p>
          </template>
          <template v-else>
            <p>{{ $t("Trust.set-trust-level") }}</p>

            <div class="ratethisuser">
              <template>
                <v-row>
                  <v-col cols="2">{{  minLevel  }}</v-col>
                  <v-col>
                  <v-slider
                    step="20"
                    :min="minLevel"
                    max="100"
                    ticks
                    tick-size="5"
                    v-model="yourTrustLevel"
                  >
                  </v-slider>

                  </v-col>
                  <v-col cols="2">100</v-col>
                </v-row>
                <h1 style="text-align: center;">
                  {{ yourTrustLevel  }}%
                </h1>
              </template>
            </div>

    
          </template>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="handleClose()">{{ $t("General.close") }}</v-btn>
          <v-btn align="right" color="primary" @click="handleSave()"
            >{{ $t("General.save") }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-menu>
    <em class="grey--text" v-else>{{ $t("Trust.you") }}</em>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
// import debounce from "lodash/debounce";

export default {
  name: "TrustRating",
  props: ["userProfile", "slug"],
  data: function () {
    return {
     
      isNewOrOld: "new",
      loadingData: false,
      // handleDebouncedSave: null,
      userSlug: null,
      initialTrustLevel: null,
      showTrustMenu: false,
      trustText: [
        "Trust.0",
        "Trust.1",
        "Trust.2",
        "Trust.3",
        "Trust.4",
        "Trust.5",
      ],
      hover: 0,
      colours: [
        "brown darken-2",
        "yellow darken-4",
        "yellow darken-3",
        "yellow darken-2",
        "yellow lighten-2",
      ],
    };
  },
  async mounted() {
    if (this.userProfile) {
      this.userSlug = this.userProfile.slug;
    }
    if (this.slug) {
      this.userSlug = this.slug;
    }
    if (this.GET_TRUST_STATUS(this.userSlug)?.trustLevel) {
      this.initialTrustLevel = this.GET_TRUST_STATUS(this.userSlug)?.trustLevel;
    } else {
      this.initialTrustLevel = null;
    }

    // this.handleDebouncedSave = debounce(this.handleSave, 1000);
  },
  watch: {
    showTrustMenu(show) {
      if (show) {
        this.loadData();
      }
    },
  },
  computed: {
    ...mapGetters("UserStore", ["userTrustLevelInfo"]),
    ...mapGetters("UserProfileStore", ["IS_MY_PROFILE"]),
    ...mapGetters("TrustStore", ["GET_TRUST_STATUS", "GET_TRUST_STATUS"]),
    minLevel() {
      
      return this.userTrustLevelInfo && this.userTrustLevelInfo.trustLevelInt >= 3 ? -20 : 0; // Only gold can do minus rating
    },
    yourTrustLevel: {
      get() {
        return this.userSlug && this.GET_TRUST_STATUS(this.userSlug)?.trustLevel ? this.GET_TRUST_STATUS(this.userSlug)?.trustLevel : 0;
      },
      set(value) {
        let key = this.GET_TRUST_STATUS(this.userSlug).key;
        if (!key) {
          key = {};
        }
        this.SET_MY_TRUST_LEVEL({
          key: key,
          trustLevel: value,
          slug: this.userSlug,
        });
      },
    },
  },
  methods: {
    ...mapActions("TrustStore", [
      "CREATE_TRUST_RELATIONSHIP",
      "CHANGE_TRUST_RELATIONSHIP",
      "FETCH_TRUST_STATUS",
      "CLEAR_TRUST_LEVEL",
      "SET_MY_TRUST_LEVEL",
    ]),
    async loadData() {
      if (
        this.userSlug &&
        !this.GET_TRUST_STATUS(this.userSlug).trustLevel &&
        !this.loadingData
      ) {
        this.loadingData = true;
        await this.FETCH_TRUST_STATUS({
          slug: this.userSlug,
        });
        this.loadingData = false;
      }
      if (
        typeof this.GET_TRUST_STATUS(this.userSlug)?.key?.pk !== "undefined"
      ) {
        this.isNewOrOld = "old";
      }
    },
    trustExists() {
      return typeof this.GET_TRUST_STATUS(this.userSlug)?.trustLevel == "undefined" ? false : true;
    },
    handleClose() {
      this.showTrustMenu = false;
      if (!this.initialTrustLevel) {
        this.CLEAR_TRUST_LEVEL(this.userSlug);
      } else {
        let key = this.GET_TRUST_STATUS(this.userSlug).key;
        this.SET_MY_TRUST_LEVEL({
          key: key,
          trustLevel: this.initialTrustLevel,
          slug: this.userSlug,
        });
      }
    },
    handleSave() {
      if (this.isNewOrOld == "new") {
        let pksk = "userprofile#" + this.userSlug;
        let newTrust = {
          pk: pksk,
          sk: pksk,
          parentSK: pksk,
          slug: this.userSlug,
          parentSlug: this.userSlug,
          trustLevel: this.GET_TRUST_STATUS(this.userSlug).trustLevel ? this.GET_TRUST_STATUS(this.userSlug).trustLevel : 0
        };
        this.CREATE_TRUST_RELATIONSHIP(newTrust);
        this.isNewOrOld == "old";
      } else {
        this.CHANGE_TRUST_RELATIONSHIP({
          trustLevel: this.GET_TRUST_STATUS(this.userSlug).trustLevel,
          slug: this.userSlug,
        });
      }
      this.showTrustMenu = false;
    },
    userRatingColour(rating) {
      if (this.hover > 0) {
        return rating <= this.hover ? " " + this.colours[rating - 1] : "grey";
      } else {
        return rating <= this.trustLevel()
          ? " " + this.colours[rating - 1]
          : "grey";
      }
    },
  },
};
</script>
<style lang="scss">
.btn-set-trust {
  font-size: 0.9em;

}
.v-btn.v-size--default.btn-set-trust {
  height: auto;

  &:before {
    background-color: transparent;
  }
  &:hover .v-btn__content {
    background: transparent;
  }
}
.trust-explaination {
  display: block;
  text-align: center;
  background-color: var(--v-primary-base);
  border-radius: 0.5em;
}
.trust-explaination-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 1em solid var(--v-primary-base);
  position: relative;
  top: 0.1em;
  &.trust-level-0 {
    left: 2%;
  }
  &.trust-level-1 {
    left: 19%;
  }
  &.trust-level-2 {
    left: 38%;
  }
  &.trust-level-3 {
    left: 57%;
  }
  &.trust-level-4 {
    left: 76%;
  }
  &.trust-level-5 {
    left: 94%;
  }
}
.ratethisuser {
  .v-slider__tick:nth-child(n + 2) .v-slider__tick-label {
    left: 0.3em;
  }
  .v-slider__tick:nth-child(6) .v-slider__tick-label {
    left: 0.6em;
  }
}
.v-input__control {
  .v-slider__tick-label {
    font-weight: bold;
    font-size: 0.8em;
  }
  .v-slider__thumb-label.primary div {
    background-color: var(--v-primary-base);
    padding: 0.5em;
    width: 10em;
  }
}
</style>
