<template>
  <v-card>
    <v-dialog v-model="cancelDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="text-h5">
          {{ $t("Profile.discard-changes") }}
        </v-card-title>
        <v-card-text>{{ $t("Profile.unsaved-changes") }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="px-4"
              :color="$vuetify.theme.dark ? 'wtsgrey' : 'secondary'" @click="cancelDialog = false">
            {{ $t("Profile.continue-editing") }}
          </v-btn>
          <v-btn class="px-4"
              :color="$vuetify.theme.dark ? 'wtsgrey' : 'secondary'" @click="discardChanges()">
            {{ $t("Profile.discard-changes") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <template v-if="!saveInProgress">
      <v-card-text>
        <MediaForm
          id="mediaform-coverpic"
          purpose="coverPic"
          width="100%"
          height="33%"
          :src="URL_COVER_PIC(userProfile.userID)"
        />
        <MediaForm
          id="mediaform-profilepic"
          width="100px"
          height="100px"
          purpose="profilePic"
          :src="URL_PROFILE_PIC(userProfile.userID)"
        />
        <v-textarea :label="$t('Profile.your-biography')" v-model="EDIT_BIO" />
      </v-card-text>
      <v-card-actions>
        <v-btn @click="handleCancelButton()">{{ $t("General.cancel") }}</v-btn>
        <v-btn @click="saveChanges()">{{ $t("General.save") }}</v-btn>
      </v-card-actions>
    </template>
    <v-card-text v-if="saveInProgress">
      <p
        v-if="
          !['idle', 'complte', 'error'].includes(this.GET_UPLOAD_STATE.coverPic)
        "
      >
        {{ $t("Profile.uploading-cover-picture") }}
      </p>
      <p
        v-if="
          !['idle', 'complte', 'error'].includes(
            this.GET_UPLOAD_STATE.profilePic
          )
        "
      >
        {{ $t("Profile.uploading-profile-picture") }}
      </p>
      <v-progress-linear
        indeterminate
        color="green darken-2"
      ></v-progress-linear>
    </v-card-text>
  </v-card>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

import MediaForm from "../MediaForm.vue";

export default {
  name: "EditProfile",
  props: {
    userSlug: { type: String, required: false },
  },
  components: {
    MediaForm,
  },
  data: function () {
    return {
      cancelDialog: false,
      saveInProgress: false,
      originalBio: "",
      hover: false,
      awaiting: null,
    };
  },
  watch: {
    GET_UPLOADED_S3_URL(newValue) {
      console.log({ GET_UPLOADED_S3_URL: newValue });
      if (newValue) {
        let i;
        let done = true;
        for (i in this.awaiting) {
          console.log({ awaiting: this.awaiting[i], i: i });
          if (this.awaiting[i] == true && newValue[i]) {
            this.awaiting[i] = false;
            break;
          }
          // done = false;
        }
        for (i in this.awaiting) {
          if (this.awaiting[i] == true) {
            done = false;
          }
        }
        console.log(done);
        if (done) {
          this.handleReadyToSave();
        }
      }
    },
  },

  async mounted() {
    this.saveInProgress = false;
    this.originalBio = this.getUserProfile.userBio;
    this.CHANGE_MY_PROFILE({
      field: "userBio",
      newValue: this.getUserProfile.userBio,
    });
    this.awaiting = {
      userBio: false,
      coverPic: false,
      profilePic: false,
    };
  },

  computed: {
    ...mapGetters("UserProfileStore", [
      "GET_USER_PROFILE",
      "GET_USER_PROFILE_DEBUG",
      "IS_MY_PROFILE",
      "URL_PROFILE_PIC",
      "URL_COVER_PIC",
      "GET_MY_PROFILE_CHANGES",
      "GET_IS_EDITING_MY_PROFILE",
      "GET_MY_PROFILE_LAST_EDIT",
    ]),
    ...mapGetters("UserStore", ["userProfile"]),
    ...mapGetters("MediaStore", [
      "GET_PICKED_FILES",
      "GET_UPLOADED_S3_URL",
      "GET_UPLOAD_STATE",
    ]),

    MODAL_STATE: {
      get() {
        return this.GET_IS_EDITING_MY_PROFILE;
      },
      set(value) {
        this.CHANGE_IS_EDITING_MY_PROFILE(value);
      },
    },
    EDIT_BIO: {
      get() {
        return this.GET_MY_PROFILE_CHANGES?.userBio;
      },
      set(value) {
        this.CHANGE_MY_PROFILE({
          field: "userBio",
          newValue: value,
        });
        // this.CHANGE_PROFILE_BIO({
        //   userSlug: this.userSlug,
        //   userBio: value,
        // });
      },
    },
    getUserProfile() {
      return this.GET_USER_PROFILE(this.userSlug);
    },
  },
  methods: {
    ...mapActions("UserProfileStore", [
      "FETCH_USER_PROFILE",
      "CHANGE_MY_PROFILE",
      "CHANGE_PROFILE_BIO",
      "CHANGE_IS_EDITING_MY_PROFILE",
      "UPDATE_MY_PROFILE_DATA",
    ]),

    ...mapActions("MediaStore", ["INIT_UPLOAD"]),
    saveChanges() {
      this.saveInProgress = true;

      let awaiting = false;

      let i;
      for (i in this.GET_PICKED_FILES) {
        this.INIT_UPLOAD(i);
        this.awaiting[i] = true;
        awaiting = true;
      }

      if (!awaiting) {
        this.handleReadyToSave();
      }

      // this.saveInProgress = false;
      // this.GET_IS_EDITING_MY_PROFILE = false;
    },
    async handleReadyToSave() {
      let i;
      let newProfileData = {
        key: {
          pk: "userprofile#" + this.userSlug,
          sk: "userprofile#" + this.userSlug,
        },
      };
      for (i in this.GET_UPLOADED_S3_URL) {
        newProfileData[i] = this.GET_UPLOADED_S3_URL[i].s3key;
      }
      if (this.originalBio != this.GET_MY_PROFILE_CHANGES.userBio) {
        newProfileData["userBio"] = this.GET_MY_PROFILE_CHANGES.userBio;
      }

      console.log(newProfileData);
      if (
        newProfileData["coverPic"] ||
        newProfileData["profilePic"] ||
        newProfileData["userBio"]
      ) {
        console.log("UPDATE_MY_PROFILE_DATA");
        await this.UPDATE_MY_PROFILE_DATA(newProfileData);        
        this.redirectToProfile();
      } 
      this.saveInProgress = false;
      this.redirectToProfile();
    },
    redirectToProfile() { 
      this.$router.push({
          name: "User Profile - Posts - Tab selected",
          params: { LANG: this.userProfile.userlanguage, userSlug: this.userSlug, tabSelected: "posts" },
        });
    },
    handleCancelButton() {
      if (
        this.GET_PICKED_FILES.length > 0 ||
        this.originalBio != this.GET_MY_PROFILE_CHANGES.userBio
      ) {
        this.cancelDialog = true;
      } else {
        this.discardChanges();
      }
    },
    discardChanges() {
      this.redirectToProfile();
    },
  },
};
</script>
<style scoped>
#mediaform-profilepic {
  margin-top: -10%;
}
</style>
