<template>
  <div class="whitespace">
    <div align="left" class="mr-n3">

      <template v-if="isUserInGroup('meta-admin')">
        <v-dialog v-model="dialog" scrollable max-width="600px">
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              color="primary"
              dark
              v-bind="attrs"
              v-on="on"
              title="User Admin"
            >
              fa-dashboard
            </v-icon>
          </template>
          <v-card>
            <v-card-title>User Admin</v-card-title>
            <v-divider></v-divider>
            <div class="mt-4 mb-4">
            <v-row justify="center">
                <h3>User Statistics:</h3>
              </v-row>            
            </div>
            <v-card-text style="height: 300px">

              <div justify="left" class="mt-3">
              <v-chip small color="blue" class="mr-1 mb-1 white--text"
                >Joined: <DateOut :datein="getUserProfile.createdAt"
              /></v-chip>
              <v-chip
                color="blue lighten-4"
                class="mr-1 mb-1"
                small
                v-for="(stat, s) in getUserProfile.statistics"
                v-bind:key="s"
              >
                {{ $t(s) }}: {{ stat }}
              </v-chip>
              <br />
              <div class="mt-4 mb-6">
            <v-row justify="center">
                <h3>Trust Levels:</h3>
              </v-row>            
            </div>
              <v-chip
                color="green lighten-4"
                class="mr-1 mb-1"
                small
                v-for="(stat, s) in orderedListOfTrustLevels()"
                v-bind:key="s"
              >
                <strong>{{ s }}</strong
                >: {{ stat }}
              </v-chip>
              <br />
            </div>
            <v-row>
              <div class="mt-4">
                <v-col>
              <UserGroupManage :userProfile="getUserProfile" />
            </v-col>
            </div>
              <div v-if="!IS_MY_PROFILE(this.userSlug)" class="mt-4">
                <v-col>
              <KickUser :userSlug="userSlug"/>
              </v-col>
            </div>
          </v-row>
            <v-row justify="left">
            <div v-if="this.GET_KICK_STATE === true" justify="center">
              <v-col justify="center">
              <p style="color: green;" justify="center">
                User kicked successfully
              </p>
            </v-col>
            </div>
          </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-btn color="blue darken-1" text @click="ARCHIVE_USER(userSlug)">
                Archive User
              </v-btn>
              <span>Please note this will not currently archive branches</span>
            </v-card-actions>
            <v-divider></v-divider>
            <v-card-actions>
              <v-btn color="blue darken-1" text @click="dialog = false">
                Close
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import UserGroupManage from "./UserGroupManage.vue";
import DateOut from "../partials/DateOut.vue";
import KickUser from "../partials/KickUser.vue";

export default {
  name: "UserDetails",

  props: {
    userSlug: { type: String, required: false },
  },
  data: function () {
    return {
      dialog: false,
    };
  },
  components: {
    UserGroupManage,
    DateOut,
    KickUser
  },

  mounted() {
    if (!this.GET_USER_PROFILE(this.userSlug)) {
      this.FETCH_USER_PROFILE(this.userSlug);
    }
  },
  computed: {
    ...mapGetters("UserProfileStore", ["GET_USER_PROFILE", "IS_MY_PROFILE"]),
    ...mapGetters("ModerationStore", ['GET_POST_ARCHIVE_DEBUG', "GET_POST_ARCHIVE_STATUS"]),
    ...mapGetters("UserStore", ["isUserInGroup"]),
    ...mapGetters("UserManagementStore", ["GET_KICK_STATE"]),
    getUserProfile() {
      return this.GET_USER_PROFILE(this.userSlug);
    },
  },
  methods: {
    ...mapActions("UserProfileStore", ["FETCH_USER_PROFILE"]),
    ...mapActions("ModerationStore", ["ARCHIVE_USER"]),
    orderedListOfTrustLevels() {
      let keys = Object.keys(this.getUserProfile.trustPointCounts).sort();
      let i;
      let reordered = {};
      for (i in keys) {
        reordered[keys[i]] = this.getUserProfile.trustPointCounts[keys[i]];
      }
      return reordered;
    },
  },
};
</script>

<style scoped>
.whitespace {
  white-space: pre-line;
}
</style>
