<template>
  <div>
    <template v-if="GET_CONTRIBUTION_FETCH_OPERATIONS.payments">
      <template v-if="GET_CONTRIBUTION_FETCH_OPERATIONS.payments != 'success'">
        <p v-if="GET_CONTRIBUTION_FETCH_OPERATIONS.payments != 'error'">
          {{ $t("Stripe.fetching-payments") }}
          <v-progress-linear
            indeterminate
            :color="
              'darken-2 ' +
              (GET_CONTRIBUTION_FETCH_OPERATIONS.payments == 'fetching'
                ? 'green'
                : 'yellow')
            "
          ></v-progress-linear>
        </p>
        <ErrorOut
          :text="$t('Payment.user-fetch-payment-error')"
          v-else
        ></ErrorOut>
      </template>
      <v-simple-table v-else>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">
                {{ $t("Payment.user-amount-currency") }}
              </th>
              <th class="text-left">{{ $t("Stripe.date") }}</th>
              <th class="text-left">
                {{ $t("Payment.user-payment-provider") }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(payment, p) in GET_USER_PAYMENTS" v-bind:key="p">
              <td>{{ payment.amount }} {{ payment.currency }}</td>
              <td><DateOut :datein="payment.created" /></td>
              <td>
                {{ payment.provider == "paypal" ? "Paypal" : "Card" }}

                <span v-if="payment.scheduleID" :title="payment.scheduleID"
                  >({{ $t("Payment.payment-subscription") }})</span
                >
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <v-btn 
      :color="$vuetify.theme.dark ? 'secondary' : 'green'" 
      v-on:click="FETCH_USER_PAYMENTS()">{{
        $t("General.refresh")
      }}</v-btn>
    </template>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import DateOut from "../partials/DateOut.vue";
import ErrorOut from "../partials/ErrorOut.vue";

export default {
  name: "UserPaymentsList",
  data() {
    return {};
  },
  mounted() {
    setTimeout(async () => {
      await this.FETCH_USER_PAYMENTS();
    }, 200);
  },
  components: {
    DateOut,
    ErrorOut,
  },
  computed: {
    ...mapGetters("UserContributionsStore", [
      "GET_USER_PAYMENTS",
      "GET_CONTRIBUTION_FETCH_OPERATIONS",
    ]),
  },
  methods: {
    ...mapActions("UserContributionsStore", ["FETCH_USER_PAYMENTS"]),
  },
};
</script>
